*{
    margin: 0;
    padding: 0;
}
/*header formating*/
.first_left img{
    object-fit: contain;
    height: 50px;
    margin-left: 5px;

}
.first{
    display: flex;
    align-items: center;
    background-color: rgba(119, 119, 119,0.1);
    justify-content: space-between;
    /*border-bottom: 1px solid rgb(193, 223, 235);
*/}
.first_left{
    display: flex;
    align-items: center ;
}
.first_left span{
    padding: 10px;
    cursor: pointer;
}
.first_middle{
    display: flex;
    flex: 0.85;
    margin-right: 100px;
    background-color: rgba(168, 224, 247,0.3);
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.material-symbols-outlined{
    color: gray;
}
.first_middle input{
    border: none;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}
.first_right{
    display: flex;
    padding: right 20px; 
}
.first_right{
    padding-right: 20px;
    cursor: pointer;
    font-size: small;
    align-items: center;
}
/* sidebar*/
.sidebar{
    flex: 0.3;
    max-width: 150px;
    padding-right: 20px;

}
.side_compose{
    margin-top: 15px;
    margin-bottom: 15px ;
    margin-left: 10px;
    text-transform: capitalize;

    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0,0,0.75);

}
.side_compose span{
    margin-right: 5px;
} 
.sidebaroption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}
.sidebaroption .material-symbols-outlined{
    padding: 5px;
}
.sidebaroption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebaroption:hover,
.sidebaroption:hover h3, 
.sidebaroption:hover .material-symbols-outlined,
.sidebaroption_active,
.sidebaroption_active h3,
.sidebaroption_active .material-symbols-outlined{
    background-color: #e0fbff;
    color: #c04b37;
    font-weight: 800;
}
/*main body email list*/
.main_body{
    display: flex;
    height: 100vh;

}
body{
    height: 100vh;
    overflow-y: hidden;
}
.email_list{
    flex: 1;
    overflow: scroll;
}
.email_list_setting{
    position: sticky;
    top: 10;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}
.email_list_setting_left{
    display: flex;
    align-items: center;
}
.email_list_setting .material-symbols-outlined{
    margin: 5px;
    cursor: pointer;

}
.section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 150px;
    cursor: pointer;
    color: gray;
    border-width: 0;
}
.email_section{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}
.section_active{
    background-color: whitesmoke;
    border-width: 3px;
    color: red;
}
.section_active .material-symbols-outlined{
    color: red;
}
.section:hover{
    background-color: whitesmoke;
    border-width: 3px;
}
.section h4{
    font-size: 14px;
    margin-left: 15px;
}